.heroContainer {
  max-width: 600px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow: hidden;
}

.leftHero {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heroSubText {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #539C56;
}

.heroTitle {
  color: var(--mantine-color-black);
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 700;
}

.greenText {
  color: #539C56;
}

.heroBodyText {
  font-size: 20px;
  line-height: 32px;
}

.leftHeroBottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heroButton {
  width: 156px;
  height: 48px;
  --button-bg: #539C56;
  --button-radius: 20px;
  font-size: 16px;

  &:hover {
    background-color: #539C56;
    opacity: 0.9;
  }
}

.heroImage {
  width: 100%;
  height: 100%;
  border-radius: 100px 40px 40px 40px;
  z-index: 1;
}

@media (min-width: 768px) {
  .heroContainer {
    max-width: 1540px;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 0;
  }

  .heroTitle {
    letter-spacing: -3px;
  }

  .heroBodyText {
    font-size: 18px;
  }
}

@media (min-width: 1056px) {
  .heroContainer {
    padding: 0 130px;
    gap: 80px;
  }

  .leftHero {
    max-width: 500px;
  }

  .heroSubText {
    font-size: 48px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  .heroTitle {
    font-size: 72px;
    line-height: 80px;
  }

  .heroBodyText {
    font-size: 22px;
  }

  .exploreText {
    font-size: 20px;
    line-height: 32px;
  }

  .heroImage {
    max-width: 570px;
    max-height: 516px;
  }
}
